@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a{
    text-decoration: none;
    font-size: 3vh;
}

body{
    width: 100%;
    height: 100%;
    background-color: #020a20;
}

header{
    width: 100%;
    height: 8vh;
    background-color: #070a15;
    position: sticky;
    top: 0;
    z-index: 99999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 6.5vh;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
}

span{
    color: #00baff;
    font-family: "Bebas Neue", sans-serif;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 45px;
}

li a{
    color: white;
    transition: 0.4s ease-in-out;
    font-size: 3vh;
}

li a:hover{
    color: #00baff;
    transition: 0.3s ease-in-out;
}

.main img{
    max-width: 100%;
}

.welcome-text{
    position: absolute;
    top:30%;
    left:7%;
    color: white;
}

.welcome-text h1{
    color: #969595;
    font-size: 3.8vh;
    font-weight: 200;
}

.welcome-text h2{
    font-size: 12vh;
}

.welcome-text h3{
    font-size: 3.7vh;
}

.btn-my-projects{
    margin-top: 3vh;
    font-weight: 400;
    width: 220px;
    height: 50px;
    background-color: #537cfd;
    border-radius: 5px;
    border:none;
    font-size: 2.5vh;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn-my-projects:hover{
    margin-top: 3vh;
    width: 220px;
    height: 50px;
    background-color: #fd5353;
    border-radius: 5px;
    border:none;
    font-size: 2.5vh;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}

.social-btn{
    margin-top: 4.5vh;
}

.social-btn a{
    margin-right: 2vh;
}

.about-me{
    width: 100%;
    height: 80vh;
    background-color: #020a20;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.about-me img{
    width: 50%;
}

.about-me-text h1{
    text-align: center;
    font-size: 8vh;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.about-me-text h2{
    text-align: center;
    font-size: 4vh;
    margin-bottom: 4vh;
}

.about-me-text{
    width: 600px;
    height: 500px;
}

.skills{
    width: 100%;
    height: 90vh;
    background-color: #0c142c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.skills img{
    width: 40%;
    margin-top: 5vh;
    margin-left: 25vh;
}

.skills-text{
    width: 600px;
    height: 500px;
    margin-left: 20vh;
}

.skills-text h1{
    text-align: center;
    font-size: 8vh;
    margin-top: 4vh;
}

.text{
    margin-top: 4vh;
}





